@media (max-width: 768px) {
    #header .nav {
        display: none;
    }

    #content .food-order {
        display: none;
    }

    #content .content-section {
        display: inline-block;
        width: 100%;
    }

    #content .menu-section-context {
        padding: 12px 24px;
    }

    #content .content-contact {
        padding: 12px 24px;
    }

    #content button {
        color: #000;
    }
}